



<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" >



<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>SysAid Help Desk Software</title>
	<link href="css/_default/_default.css" rel="stylesheet" type="text/css" />
	<link href="css/_laf/_laf.css" rel="stylesheet" type="text/css" />
	<link href="css/pageLayout/pageLayout.css" rel="stylesheet" type="text/css" />
	<link href="css/formCtrls/formCtrls.css" rel="stylesheet" type="text/css" />
	<link href="css/buttons/buttons.css" rel="stylesheet" type="text/css" />
	<link href="css/buttons/button3Parts.css" rel="stylesheet" type="text/css" />
	<link href="css/login/login.css" rel="stylesheet" type="text/css" />	
	<script type="text/javascript" src="css/_default/_general.js@v24.4.60b69"></script>
	<!--[if lte IE 6]>
	<link href="css/ie6/ie6.css" rel="stylesheet" type="text/css" />
	<![endif]-->
</head>

<body class="LTR Login">

	<script language="JavaScript">
      function validateFrm()
	  {

               /*if (document.LoginForm.accountid.value.length==0) {
                alert("Please insert an account name.");
                document.LoginForm.accountid.focus();
                return;
               } */

               if (document.LoginForm.userName.value.length==0) {
                alert("Please insert a user name.");
                document.LoginForm.userName.focus();
                return;
              }

               if (document.LoginForm.email.value.length==0) {
                alert("Please insert an email address.");
                document.LoginForm.email.focus();
                return;
              }

               document.LoginForm.submit();
      }
	</script>
	
	<table class="Maxed Frame">
		<tr>
			<td class="Frame_Top_Left"></td>
			<td class="Frame_Top_Center"></td>
			<td class="Frame_Top_Right"></td>
		</tr>
		<tr class="Frame_Header">
			<td class="Frame_Header_Left"></td>
			<td class="Page_Header">
				<table class="Maxed Page_Header_Layout">
					<tr>
						<td class="Logo">
							<div style="white-space: nowrap;">
							<img src="FILESYSTEM/allegronet/logo/logo_allegronet.png" width="200" height ="30"/>
                            </div>
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
				</table>
			</td>
			<td class="Frame_Header_Right"></td>
		</tr>
		<tr>
			<td class="Frame_Body_Left"></td>
			<td class="Frame_Body_Center Page_Content">
				<table class="Maxed">
					<tr>
						<td class="Pane" id="MainPane" align="center">
							<table>
								<tr>
									<td class="Login_BG" ALIGN="CENTER">
										<table style="margin: 4px ;">
											<tr>
												<td style="font-size: 20px; color: #ffffff;">
													SysAid Help Desk
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td align="right" style="padding-right: 5px;">
										<a href="http://www.sysaid.com">
											Help Desk software by SysAid
										</a>
									</td>
								</tr>
								<tr class="">
									<td class="Login_Form_Box" align="center">
										<form id="LoginForm" name="LoginForm" action="ForgotPassword.jsp@accountid=allegronet.html" method="post">
										<table class="LoginWrapper">
											<tr>
												<td align="center">
													<table class="Form_Ctrl">
														<tr class="">
															<td colspan="2" style="font-size: 14px;height: 35px">
																Forgot your password?
															</td>
														</tr>
														<tr class="">
															<td colspan="2" style="font-size: 14px;height: 35px">
																Please fill out the fields below. <br> A new password will be sent to your email.
															</td>
														</tr>
                                                        <input name="accountID" type="hidden"  value="$accountID"/>
														<!--tr class="">
															<td class="Form_Ctrl_Label">
																<label>
																	Account:
																</label>
															</td>
															<td class="Form_Ctrl_Fields">
																<input name="accountid" type="text" value="allegronet"/>
															</td>
														</tr-->
														<tr class="">
															<td class="Form_Ctrl_Label">
																<label>
																	User Name:
																</label>
															</td>
															<td class="Form_Ctrl_Fields">
																<input name="userName" type="text" value=""/>
															</td>
														</tr>
														<tr>
															<td class="Form_Ctrl_Label">
																<label>
																	Email:
																</label>
															</td>
															<td class="Form_Ctrl_Fields">
																<input name="email" type="text"  value="" />
															</td>
														</tr>
														<tr>
															<td class="ButtonRow" colspan="2">
																<table class="Maxed">
																	<tr>
																		<td align="right">
																			<input style="display: none;" type="Submit" value="Login" />
																			<table class="Button3Parts"
																					onmousedown="over_down(this)"
																					onmouseup="down_hover(this)"
																					onmouseover="idle_hover(this)"
																					onmouseout="over_idle(this)"
																					onclick="validateFrm();">
																				<tbody>
																					<tr class=" - state - ">
																						<td class="ButtonFirst">&nbsp;</td>
																						<td class="ButtonLabel">
																							Submit
																						</td>
																						<td class="ButtonLast">&nbsp;</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<script type="text/javascript">
										   document.LoginForm.userName.focus();
										</script>
										</form>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			<td class="Frame_Body_Right"></td>
		</tr>
		<tr>
			<td class="Frame_Bottom_Left"></td>
			<td class="Frame_Bottom_Center"></td>
			<td class="Frame_Bottom_Right"></td>
		</tr>
	</table>
</body>
</html>


